<tr class="attachment">
  <% fields_for_task(attachment, "attachment") do |a| %>
    <% if attachment.new_record? %>
      <td align="center"><%= a.file_field :avatar, :class => "medium" %></td>
      <td></td>
      <td><%= Date.today %></td>

      <td align="center"><%= link_to_function image_tag("canel.png"), "$('.cancelButton').live('click',function() {$(this).parents('tr:first').remove();});", :class => "cancelButton" %></td>
    <% else %>
      <td align="center"><%= link_to attachment.avatar_file_name, download_file_contract_url(attachment) %></td>
      <td><%= attachment.avatar_file_size %></td>
      <td><%= attachment.created_at %></td>

      <td align="center"><%= link_to image_tag("canel.png"), delete_attachment_contract_path(attachment, :contract_id => @contract.id), :class => "cancelButton"  %></td>
    <% end %>
  <% end %>
</tr>