<div class="address">
  <% fields_for_task(address, "addresses") do |add| %>
    <% if address.new_record? %>
      <div class="w100 fl">
        <div class="w20 pl25 fl">
          <div class="formItem w100 pt15">
            <%#= check_box_tag "user[new_addresses_attributes][][is_primary]", true, { :checked => true } %>
            <%= radio_button_tag "user[new_addresses_attributes][][is_primary]", true, false %>
            <%= add.label :is_primary, "Primary Address" %><br />

    <%#= add.check_box :is_mailing, {}, true, false  %>
            <%= check_box_tag "user[new_addresses_attributes][][is_mailing]", true %>
            <%= add.label :is_mailing, "Mailing Address" %><br />

    <%#= add.check_box :is_billing, {}, true, false %>
            <%= check_box_tag "user[new_addresses_attributes][][is_billing]", true %>
            <%= add.label :is_billing, "Billing Address" %>
          </div>
        </div>
        <div class="w50 fl">
          <div class="formItem w90 pt15">
            <label for="username">Address Description</label>
            <%= add.text_field :address_description, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="username">Address 1</label>
            <%= add.text_field :address_1, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="username">Address 2</label>
            <%= add.text_field :address_2, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="username">City</label>
            <%= add.text_field :city, :class => "big w100" %>
          </div>
          <div class="formItem w40 pt15">
            <label for="username">Postal Code</label>
            <%= add.text_field :zipcode, :class => "big w100" %>
          </div>
          <div class="formItem w50 pt15">
            <label for="username">State</label>
            <%= add.text_field :state, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="username">Country</label>
            <%= add.localized_country_select(:country, [], {:include_blank => 'Please choose...'},  { :class => "big w100"}) %>
          </div>
        </div>
      </div>
      <div class="fr pr25"><%= link_to_function image_tag("canel.png"), "$('.cancelButton').live('click',function() {$(this).parents('div.address').remove();});", :class => "cancelButton" %></div>
    <% else %>
      <div id="wholebook-show-user-address-<%=address.id%>">
        <div class="w100 fl">
          <div class="w20 pl25 fl">
            <div class="formItem w100 pt15">
              <label for="checkbox1">
                <%= address.is_primary? ? "Primary Address" : ""  %>
              </label><br />
              <label for="checkbox1">
                <%= address.is_mailing? ? "Mailing Address" : ""  %>
              </label><br />
              <label for="checkbox1">
                <%= address.is_billing? ? "Billing Address" : ""  %>
              </label>
            </div>
          </div>
          <div class="w50 fl">
            <div class="formItem w90 pt15">
              <label for="username">Address Description</label>
              <%= address.address_description %>
            </div>
            <div class="formItem w90 pt15">
              <label for="username">Address 1</label>
              <%= address.address_1 %>
            </div>
            <div class="formItem w90 pt15">
              <label for="username">Address 2</label>
              <%= address.address_2 %>
            </div>
            <div class="formItem w90 pt15">
              <label for="username">City</label>
              <%= address.city %>
            </div>
            <div class="formItem w40 pt15">
              <label for="username">Postal Code</label>
              <%= address.zipcode %>
            </div>
            <div class="formItem w50 pt15">
              <label for="username">State</label>
              <%= address.state %>
            </div>
            <div class="formItem w90 pt15">
              <label for="username">Country</label>
              <%= address.country %>
            </div>
          </div>
        </div>
        <div class="fr pr25">
          <%= link_to image_tag("edit.png"), edit_address_user_path(current_user, :address_id => address.id), "data-address-id" => address.id, :class => "wholebooks-edit-user-address"  %>
          <%= link_to image_tag("canel.png"), delete_address_user_path(current_user, :address_id => address.id), :class => "cancelButton" unless address.is_primary? %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script type="text/javascript">
  $(function(){
    var address_count = <%= @user.try(:addresses).blank? ? 0 : @user.addresses.length %>;
    if(address_count<1)
    {
      if($("input[name='user[new_addresses_attributes][][is_primary]']").length<=1) {$("input[name='user[new_addresses_attributes][][is_primary]']").attr("checked", "checked")}
      else {}
    }
    else
    {
      confirmed = false;
      $("form").submit(function(){
        if($("input[name='user[new_addresses_attributes][][is_primary]']:checked").length>=1)
        {
          if(confirmed==true) { return true;}
          var r=confirm("You may only have one primary address. Do you want it to change to the address you just selected?");
          if (r==true) {confirmed = true; return true;}
          else
          {
            $("input[name='user[new_addresses_attributes][][is_primary]']").attr("checked", "");
            return false;
          }
        }
      })
    }
  })
</script>