<%- form_for @address, :url => update_address_user_path(@user, :address_id => @address.id),  :html => { :method => :put, :id => "wholebooks-update-user-address", "data-address-id" => @address.id } do |add| -%>
      <div class="w100 fl">
        <div class="w20 pl25 fl">
          <div class="formItem w100 pt15">
            <%= check_box_tag "address[is_primary]", true,  { :checked => true } %>
            <%#= radio_button_tag "address[is_primary]", true %>
            <%= add.label :is_primary, "Primary Address" %><br />

            <%= check_box_tag "address[is_mailing]", true %>
            <%= add.label :is_mailing, "Mailing Address" %><br />

            <%= check_box_tag "address[is_billing]", true %>
            <%= add.label :is_billing, "Billing Address" %>
          </div>
        </div>
        <div class="w50 fl">
          <div class="formItem w90 pt15">
            <label for="companyname">Address Description</label>
            <%= add.text_field :address_description, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="companyname">Address 1</label>
            <%= add.text_field :address_1, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="companyname">Address 2</label>
            <%= add.text_field :address_2, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="companyname">City</label>
            <%= add.text_field :city, :class => "big w100" %>
          </div>
          <div class="formItem w40 pt15">
            <label for="companyname">Postal Code</label>
            <%= add.text_field :zipcode, :class => "big w100" %>
          </div>
          <div class="formItem w50 pt15">
            <label for="companyname">State</label>
            <%= add.text_field :state, :class => "big w100" %>
          </div>
          <div class="formItem w90 pt15">
            <label for="companyname">Country</label>
            <%= add.localized_country_select(:country, [], {:include_blank => 'Please choose...'},  { :class => "big w100"}) %>
          </div>
        </div>
        <div class="fr pr25">
          <%= add.submit "Update" %>
        </div>
      </div>
<%- end -%>

<script>
  
  $(function() {
    $("#wholebooks-update-user-address").submit(function() {
       var e = $(this);
       var addressId = e.attr("data-address-id");
       $(this).ajaxSubmit({
         success: function(data) {
           $("#wholebook-show-user-address-"+addressId).html(data.response);
         }
       });
       return false;
    });
  });
  
</script>