<!--CONTENT STARTS-->
  <div class="content">
    <!--BREADDRUMBS STARTS-->
    <div id="breadcrumbs"> <%= link_to "Home", root_url %>  / <%= link_to "My Profile", account_url %> / Change Password</div>
    <!--BREADDRUMBS ENDS-->
    <!--FORM CONTAINER STARTS-->
    <div class="formContainer">
      <% form_for @user, :url => update_password_url(@user) do |f| %>
      <% f.error_messages %>
        <div class="pagedivider1 pb25">
          <fieldset>
          <div class="headingBg">
            <div class="fl">
              <h2>Change Password</h2>
            </div>
            <div class="clear"></div>
          </div>
          <div class="clear"></div>
          <div class="formItem w25 pt15 pr15">
            <%= f.label :password %>
            <%= f.password_field :password, :class => "big w100" %>
          </div>
          <div class="formItem w25 pt15 pr15">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, :class => "big w100" %>
          </div>
          </fieldset>
        </div>
      
      <div class="clear"></div>
      <div class="buttonMainWrapper">
        <div class="buttonCancel">
          <%= link_to "Cancel", account_url %>
        </div>
        <div class="buttonWrapper">
          <%= f.submit "Save", :class => "button" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>