<div class="content">
      <!--BREADDRUMBS STARTS-->
      <div id="breadcrumbs"> 
        <%= link_to "Home", root_url %>  /
        <a href="expenses_expenses.html"> <%= t("sign_up") %></a>
      </div>
      <!--BREADDRUMBS ENDS-->
      <!--FORM CONTAINER STARTS-->
      <div class="formContainer">
       <% form_for @user_session, :url => user_session_path do |f| %>
              <%= f.error_messages(:header_message => nil) %>
          <div class="pagedivider">
            
            <fieldset>
            <div class="headingBg">
              <div class="fl w30">
                <h2>Login for WholeBooks</h2>
              </div>
              <div class="clear"></div>
            </div>
              
              <div class="w100">
              <div class="form fl w40 pl25 pt15">
                <%= f.label :email, "Email Address" %>
                <%= f.text_field :email, :class => "big w80" %>
              </div>
                <div class="clear"></div>
              </div>
              <div class="w100">
              <div class="form fl w35 pl25 pt15">
                <%= f.label :password %>
                <%= f.password_field :password, :class => "big w90" %>
              </div>
                <div class="clear"></div>
              </div>
              <div class="formItem w100 pt10 pl20">
              <%= f.check_box :remember_me, :class => "small"%>
              <%= f.label :remember_me %>
              </div>
              </fieldset>
            <div class="formItem w100 pt10 pl20">
                <%= link_to "Can't access your account?", new_password_reset_path %>
              </div>
          </div>
        
       <div class="fl">
          <div class="buttonWrapper">
              <%= f.submit "Login", :class => "button" %>
          </div>
        </div>
         <% end %>
      </div>
      
    </div>


  